<div class="container">
  <div class="row">
    <h3> <strong> SHIFTS </strong> </h3>
    <% @shifts.each do |shift| %>
      <div class="card">
        <p> <strong>Date</strong> <%= shift.date.strftime("%A, %B %e %Y") %>  </p>
        <p> <strong>On duty</strong> <%= shift.worker.name %> </p>
        <%= link_to "Edit this shift", edit_shift_path(shift) %>
      </div>
    <% end %>

    <div class="card">
      <%= link_to "Add a shift", new_shift_path, class: "btn btn-success" %>
      <br><br>
      <%= link_to "Back to all workers", root_path, class: "btn btn-danger" %>
    </div>

  </div>
</div>
